.modal{
    width:100%;
    display:flex;
    flex-direction:column;
    height: 100%;
    gap:10px;
    .title-box{
        font-size:18px;
        font-weight:600;
        span{
            color:#108ee9
        }
    }

    .status-box{
        width:100%;
        display:flex;
        gap:10px;
        height: 20%;

        .bearing-status{
            width:17%;
            display:flex;
            flex-direction:column;
            gap:8px;
            height: 100%;

            .title {
                width:100%;
                display:flex;
                gap:6px;
                color:white;
                font-size:14px;
                font-weight:500;
                align-items:center;
                white-space:nowrap ;
            }

            .status{
                width:100%;
                flex:1;
                background: radial-gradient(#16ff5c15, #09ff8c76);
                position:relative;

                &.err{
                    background: radial-gradient(#ff161616, #ff161676);
                }

                span{
                    position:absolute;
                    font-size: 1.2rem;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                    font-weight:600;
                    color: #5ed694;

                    &.err{
                        color: #f06161;
                    }
                }
            }
        }

        .progress-box{
            display:flex;
            flex-direction:column;
            flex:1;
            height: 100%;

          
            .title-box{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                padding: 2px 8px;
                background:#093c77b0;

               .title {
                width:100%;
                display:flex;
                gap:6px;
                color:white;
                font-size:14px;
                font-weight:500;
                align-items:center;
               }
               .question{
                cursor: pointer;
                z-index: 1;
                .icon{
                    font-size:16px;
                    transition: 0.25s;
                      color: #3794ff;
                  }
                  .icon:hover{
                      color: white;
                  }
               }
              }
            
            .chart-box{
                border:1px solid #102b3a;
                padding:10px;
                height:100%;
                display: flex;
                gap: 10px;


               .chart{
                   width: calc((100% / 6) - 10px);
                   display: flex;
                   position: relative;
                   
                   .progress{
                    align-items: flex-end;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    height: 100%;
                    
                    .ant-progress-outer{
                        transform: rotate(-90deg);
                        width:55px;
                        height: 60%;
                        display:flex;
                        margin: 0;
                        margin-bottom: 2px;
                        border-radius: 4px;
                        overflow: hidden;
                        .ant-progress-inner{
                            border-radius: 0;
                            background-color: rgba(68, 97, 165, 0.342);
                            .ant-progress-bg{
                                 height:100% !important;
                             }
                        }
                    }
                }

                .label{
                    position: absolute;
                    top: 8%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 12px;
                    z-index: 10;
                    display: flex;
                    gap: 6px;
                    align-items: center;

                    .num{
                        width: 16px;
                        height: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #004edf;
                        font-size: 12px;

                        &.err{
                            background: #d62000;
                        }
                    }
                }
               }
            }
        }
    }

    .chart-box{
        width:100%;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        height: 83%;
        .charts{
            width: calc(50% - 5px);
            height: calc((100% / 3) - 10px);
            position: relative;
            border: 1px solid #142E4B;
            display: flex;
            flex-direction: column;
            .title-box{
                display: flex;
                width: 100%;
                background: #093c77b0;
                align-items: center;
                justify-content: space-between;
                padding: 2px 6px;
                .title{
                    color: #dfe8f3;
                    font-size: 15px;
                    font-weight: 400;
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .num{
                        width: 20px;
                        height: 20px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: #004ec4;
                        box-shadow: 0 0 3px rgba(0,0,0,0.1);
                    }
                }
                .select-box{
                    display: flex;
                    gap: 8px;
                    align-items: center;
                    .period{
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        .btn{
                            z-index: 1;
                            font-size:10px;
                            font-weight:500;
                            padding:2px 6px;
                            cursor: pointer;
                            background: #23576e80;
                            border-radius: 2px;
                            transition: 0.25s;
                            border: 1px solid #06124665;
                            &.selectBtn{
                                border: 1px solid #fdfeff96;
                                background: #157afd91;
                            }
                        }
                        .btn:hover{
                            background: #157afd91;
                        }
                    }

                    .icon{
                        cursor: pointer;
                        transition: 0.25s;
                        z-index: 1;
                        font-size:16px;
                        color: #258bff;
                    }
                    .icon:hover{
                        color: white
                    }
                }
            }
            .content{
                background: #02223b98;
                padding: 6px;
                flex:1
            }
        }
    }

    .download-box{
        display: flex;
        justify-content: end;
        gap: 10px;
        align-items: center;
        
        .label{
            color: rgb(67, 131, 250);
        }
        .btn{
            z-index: 1;
            font-size:10px;
            font-weight:500;
            padding:2px 6px;
            cursor: pointer;
            background: #23576e80;
            border-radius: 2px;
            transition: 0.25s;
            border: 1px solid #06124665;
            &.selectBtn{
                border: 1px solid #fdfeff96;
                background: #157afd91;
            }
        }
        .btn:hover{
            background: #157afd91;
        }
        .downloadBtn{
            display: flex;
            gap: 6px;
            align-items: center;
            padding: 4px 12px;
            border-radius: 20px;
            border: 1px solid #157afd91;
            cursor: pointer;
            transition: 0.25s;
        }

        .downloadBtn:hover{
            background: #0047e0;
        }
    }
    .boxFrame{
        .box-edge{
            width: 8px !important;
            height: 8px !important;
            border-color: #5388a5 !important;
        }
    }

   

    .loading{
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 10;
        background: rgba(0,0,0,0.5);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s;
        
        &.unLoading{
            display: none;
        }
    }
}